.vscode
/__pycache__
/env
word2vec copy.py
word2vec_v_1.py
word2vec.py
windows_server.csv
arabicstopwords0.3.zip
testing.py
requirementsx.txt
requirements_all.txt
word2vec_v_2x.py
install pygraphize command.txt
large_text.txt
medium_text.txt
small_text.txt
Articles.txt
install nltk dependecies commands.txt
graphviz.exe